<!doctype html>
<html lang="kr" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module">import * as tf from 'https://cdn.jsdelivr.net/npm/@tensorflow/tfjs';</script>
</head>

<body>
<div class="container">
    <div class="row text-center py-5">
        <div class="col">
            <div class="spinner-border text-primary" id="loader">
            </div>
            <div class="card" text-align: center;>
                <div class="card-body">
                    <img id="img" width="300px" height="300px">
                    <h1 id="result"></h1>
                    <input class="btn btn-outline-secondary" id="input" type="file" name="file" />
                </div>
            </div>
            <button id="show-data">더보기</button>
        </div>
    </div>
</div>
>

<!-- 추가된 부분: 외부 js 파일 로드 -->
<script type = "module" src="/js/upload.js"></script>
</body>

</html>